.card {
    padding: 20px;
  

    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  }
  
  .card:hover {
    translate: 0 -10px;
  }
  
  